// Place all the styles related to the Emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	height: 100%;

}

#email_content {
	
	height: 300px;
	width: 500px;
	color: black;
		
}

